.invisible {
	visibility: hidden;
	position: absolute;
	
}

.pokemon-card-container, .your-team-container  {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 1em;

}


.pokemon-card {
	background-color: #d9d9d9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* width: fit-content; */
	padding: 1em 3em 1em 3em;
	border-radius: 10px;
	border: 2px solid white;
	transition: transform 0.3s ease-in-out;
	box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);

}

h2 {
	color: #444AD2;
	text-transform: uppercase;
	text-align: center;
	margin-top: 1em;
	font-family: 'Poppins', sans-serif;
}

.head-pokemon-team  {
	font-family: 'poppins';
	color: white;
	text-align: center;
	
	margin: 0.3em;
	font-size: 28px;
	
}
.head-pokemon-reservs {
	font-family: 'poppins';
	color: white;
	text-align: center;
}

.recruit-more-pokemon {
	font-family: 'poppins';
	font-size: 18px;
}

.recruit-more-pokemon-container {
	background-color: #444AD2;
	padding: 1em;
	margin: 1em;
	border-radius: 2em;
	border: solid 2px white;
	
}

.added-to-team {
	transform: scale(1.1)
}

.pokemon-recruit-btn {
	transition: all 0.4s;
	border-radius: 2em;
}

.pokemon-recruit-btn:hover {
	cursor: pointer;
	transform: scale(1.3);
}

.info {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #444AD2;
	font-size: 20px;
	text-align: center;
	margin: 1em;
}

.your-pokemon-name {
	font-family: 'Poppins', sans-serif;
}

.pokemon-output-name {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 18px;
}
