.invisible {
	visibility: hidden;
	position: absolute;
	
}


.pokemon-card-container, .your-team-container  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	flex-flow: wrap;
	
}

.pokemon-card {
	background-color: #d9d9d9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	padding: 1em 3em 1em 3em;
	border-radius: 10px;
	margin: 2em;

}

h2 {
	color: #444AD2;
	text-transform: uppercase;
	text-align: center;
	margin-top: 1em;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.head-pokemon-team, .head-pokemon-reservs {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	text-align: center;
	margin: 0.3em;
	font-size: 28px;
}


.recruit-more-pokemon {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
}

.recruit-more-pokemon-container {
	background-color: #444AD2;
	padding: 1em;
	margin: 1em;
	border-radius: 2em;
	border: solid 2px white;
	
}
