@font-face {
	font-family: pokemon;
	src: url(/Fonts/Pokemon\ Solid.ttf)
}


body {
	background: rgb(117,255,131);
	background: linear-gradient(90deg, rgba(117,255,131,1) 30%, rgba(3,128,155,1) 100%);
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	height: 50vh;
}

* {
	margin: 0;
}

header {
	background-color: #373737;
	text-align: center;
	padding-top: 1em;
	height: 20vh;
	padding-bottom: 0.5em;
}

header h1 {
	font-family: 'pokemon';
	color: #FFF504;
	-webkit-text-stroke: 1.5px  #444AD2;
	
}

h1 {
	font-family: 'pokemon';
	text-align: center;
	color: red;
	
}

#pikachu {
	max-width: 20em;
}

.start-section {
	margin: 1em;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pokemon-btn {
	background-color: #FF0202;
	border-radius: 10px 0px 0px 10px;
}

#pokemon-btn:hover {
	background-color: #444AD2;
}

#team-btn {
	background-color: #444AD2;
	border-radius: 0px 10px 10px 0px;
}

#team-btn:hover {
	background-color: #FF0202;
}

#team-btn:active {
	background-color: #4CAF50;

  }

#team-btn:focus {
	background-color: #4CAF50;

  }

#pokemon-btn:active {
	background-color: #4CAF50;

  }

#pokemon-btn:focus {
	background-color: #4CAF50;

  }

button {
	color: white;
	font-size: 16px;
	padding: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #03809B;
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
}

input {
	max-width: 15em;
	margin: 1em;
	padding: 8px;
	border-radius: 10px;
	background-color: #7cb4c1;
	font-size: 1rem;
}

label {
	margin-left: 1em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.search-wrapper {
	display: flex;
	flex-direction: column;
	gap: .25rem;
	margin-top: 1em;
}

.hide {
	display: none;
}



footer {
	background-color: white;
	width: 100%;
	height: 30vh;

}